.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
target/
out/
.gradle/
.mvn/
bin/
*.class
*.war
*.ear
*.zip
*.tar.gz
*.rar
node_modules/
dist/
build/
.next/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
.vscode/
.idea/
*.xlsx
~$*.xlsx
